body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1e1e2f;
    color: #c9c9c9;
    margin: 80px 0px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
    background-color: #2e2e40;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main-con > div {
    background-color: #353547;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main-con h2 {
    margin: 10px 0;
    color: #61dafb;
}

.main-con p {
    font-size: 14px;
    color: #c0c0c0;
}

.main-con img {
    width: 60px;
    height: 60px;
}
.main-con .grid6 img{
    width: 200px;
    height: auto;
} 
.main-con .grid1:hover{
    transform: scale(1.1); 
}
.main-con .grid2:hover{
    transform: scale(1.1); 
}
.main-con .grid3:hover{
    transform: scale(1.1);
}
.main-con .grid4:hover{
    transform: scale(1.1);
}
.main-con .grid5:hover{
    transform: scale(1.1);
}
.main-con .grid6:hover{
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .main-con {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .main-con {
        grid-template-columns: 1fr; 
        gap: 15px;
    }
}


